@import '../css/variables.css';

.newproject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    animation: fade .3s ease
}

@keyframes fade {
  from {
      opacity: .4;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.newproject_container h1 {
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: var(--text-color-secondary);
}